<!DOCTYPE html>
<html>
  <head>
    <title>Museu Virtual: Portinati</title>
    <link rel="stylesheet" type="text/css" href="portinari.css" />
  </head>
  <body>
    <h1>Obras do Candido Portinari</h1>
  </body>
</html>