<!DOCTYPE html>
<html>
  <head>
    <title>Museu Virtual: Tarsila</title>
  </head>
  <body>
    <div class="container">
      <h1>Obras da Tarsila do Amaral</h1>
      <row>
        <% for(let i=0; i<obrasdearte.length; i++) {%>
            <div class="card" style="width: 30rem;">
              <img src="<%= obrasdearte[i].urlimagem%>" class="card-img-top" alt="<%= obrasdearte[i].nome%>">
              <div>
                <h5 class="card-title">
                  <%= obrasdearte[i].nome%>
                </h5>
                <p class="card-text">
                  <%= obrasdearte[i].artista%>
                </p>
              </div>
            </div>
        <%}%>
      </row>
  </body>
</html>

